@model SportsDB.Models.HomeIndexVM
@{
    ViewBag.Title = "DeleteAthlete";
}

<h2>Delete an Athlete</h2>

<form action="/Home/DeleteAthlete" method="post">
    <h4>Do you want to Delete this Athlete?</h4><br />

    <button type="submit">Delete Athlete</button>
</form>

